name: Prettier

on: [push, workflow_dispatch]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - run: |
          curl -O https://raw.githubusercontent.com/om3ga6400/prettier/main/.prettierrc
          curl -O https://raw.githubusercontent.com/om3ga6400/prettier/main/.prettierignore
          curl -O https://raw.githubusercontent.com/om3ga6400/prettier/main/.gitignore
          npx prettier@latest --write .
